.navbar{
    width: 100%;
    height: 30px;
    background-color: rgb(110, 167, 232);
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: flex-end;
    padding: 10px 20px;
    
  }
  .navbar .home{
    margin-right: 900px;
  }
  .navbar .link{
    color: inherit;
    text-decoration: none;
  }