.student-container{
  display: flex;
  flex-direction: column;
  font-family:'Times New Roman', Times, serif;
}


.logout-button{
  height: 20px;
  width: 80px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
  margin-right: 60px;
  cursor: pointer; /* Change cursor on hover */
}

.logout-button:hover {
  background-color: #417fc1; /* Darker background color on hover */
}

.content {
  width: 100%;
  padding: 20px; /* Add some padding */
}
